body{
    position: relative;
    height: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/*text color set by div*/
/*header compnay name + section header*/
h1 {
    font-family: 'Baskervville', serif;
    font-size: 64px;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/*subheader*/
h2 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/*sub title that is above the line*/
h3 {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/*sub company name + footer*/
h4 {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/*content*/
h6 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/*content links*/

.links {
    color: #4a4a4a;
    display: inline-block;
    border-bottom: 1px solid #4a4a4a ;
    margin-top: 60px;
}

/*footer grey*/
h5 {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: #7D8184;
}

header {
    width: 100%;
    height: 175px;
    left: 0px;
    top: 0px;
    background: #1D1D1F;
}

.htitle {
    width: 50%;
    margin: auto;
    text-align: center;
    color: #fff;
}

.bookNow {
    float: left;
    color: #FFF;
    margin: 10px;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border-style: solid;
    border-color: #FFF;
    transition: all 0.3s;
}

.bookNow a{
color: white;
transition: all 0.3s;
}

.bookNow:hover {
    background-color: white;
}

.bookNow:hover a {
    color: black;
}

.lang {
    float: right;
    color: #FFF;
    margin: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.nav {
    color: #FFF;
    height: 20px;
    padding: 10px 10px;
    /*position: fixed;  Set the navbar to fixed position */
    width: 100%;  
    margin-top: 10px;
}

.nav ul, .nav li {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style-type: none;
}
.nav ul {
    width: 100%;
    text-align: center;
    
}
ul#menu li {     
    display: inline-block;   
    padding-left: 5px;
    margin-left: 10px;
}
.nav a {
    display: block;
    line-height: 20px;
    margin: 0 0 0 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    transition: all 0.2s;
}

.nav a:hover {
    border-bottom: 2px solid white;
}

.nav a.active {
    border-bottom: 2px solid white;
}

.content {
    width: 60%;
    margin: auto;
    font-family: 'Lato';
}

@media only screen and (max-width: 820px) {

    .content {
        width: 80%;
    }
}

.bg {
    padding: 20px 0;
    background-color: #F0EDE8;
    text-align: center;
}

footer {
    height: 460px;
    width: 100%;
    background: #1D1D1F;
    padding: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    color: #fff;
}

.footer {
    width: 70%;
    margin: auto;
    display: table;
    padding: 20px 0;
}

.fservice {
    width: 35%;
    display: table-cell;
}

.footer ul {
    list-style-type: none;
    padding-inline-start: 0px;
    /*margin-top: 20px;*/
}

.footer li {
    margin: 20px 0;
}

.footer a {
    display: block;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #FFF;
}

.footer a:hover {
    color: #ced4da;
}

.fnews {
    width: 50%;
    display: table-cell;
}

/*For email hr*/
.fnews li {
    padding-right: 30%;
}

.fsocial {
    display: table-cell;
}

.fsocial i {
    font-size: 18px;
    padding-bottom: 5px;
    margin: 0 20px 0 0;
}

.fsocial i:hover {
    color: #ced4da;
}

.flang {
    width: 280px;
    margin: auto;
}

.btn {
    text-align: center;
}

.btn.white button, .btn.white a {
    background-color: #fff;
    color: #1D1D1F;
}

.btn.white:hover button, .btn.white:hover a {
    background-color: #1D1D1F !important;
    color: #fff !important;
}

.btn button, .btn a {
    border-style: none;
    font-family: 'Baskervville', serif;
    font-size: 18px;
    background-color: #1D1D1F;
    color: #fff;
    text-align: center;
    border: 1px solid #1D1D1F;
    padding: 9px 25px;
    text-transform: uppercase;
    transition: all 0.3s;
    display: inline-block;
}

.btn button:hover, .btn a:hover {
    background-color: #fff;
    color: #1D1D1F;
    
}

.textCenter {
    text-align: center;
    margin: auto;
}

.nogap {
    margin-top: 0;
}

/*Footer email submit from bootstrap*/
.md-form {
    position: relative;
}

.md-form input[type="email"]:not(.browser-default) {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.md-form .form-control {
    width: 200px;
    height: auto;
    background-color: transparent;
    border-radius: 0;
    color: #fff;
    
}

.md-form .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

/*CAROUSEL*/
.wallart .container:first-child h6{
    font-weight: bold;
}

.carousel.container:nth-child(2) {
    margin-top: 60px;
}

.carousel.container {
    margin-bottom: 75px;
}

.carousel.container h6 {
    text-align: center;
}

.wallart .container:last-child {
    margin-bottom: 27px;
}

.wallart .container:last-child h6 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
}

.wallart .carousel.container .columns {
    margin-top: 0;
}

.glide--slider {
    position: relative;
}

.glide__track {
    border: 30px solid #F0EDE8;
}

.glide__slide {
    height: auto !important;
}

.glide__slide img {
    height: 100%;
    width: 100%;
    position: relative;
}

.glide__arrows .glide__arrow {
    padding: 0;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

.glide__arrows .glide__arrow--left {
    left: 0.3em;
}

.glide__arrows .glide__arrow--right {
    right: 0.3em;
}

@media only screen and (max-width: 820px) {

    .glide__track {
        border: 15px solid #F0EDE8;
    }

    .glide__arrows .glide__arrow--left {
        left: -0.4em;
    }
    
    .glide__arrows .glide__arrow--right {
        right: -0.4em;
    }

    .glide__slide img {
        right: 15px;
    }

    .glide__slide {
        height: 170px !important;
    }
    
}

/*OUR PEOPLE*/
.people .title {
    font-family: Baskervville;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 39px;
}

.people .swap-img {
    position: relative;
    margin-bottom: 15px;
}

.people .swap-img img.bw {
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    width: 100%;
}

.people .swap-img .bw {
    z-index: 9999;
    transition: opacity .3s linear;
    cursor: pointer;
}

.people .swap-img .bw:hover {
    opacity: 0;
}

.people .desktop .columns:nth-child(2) {
    margin-top: 90px;
}

.people .desktop, .people .mobile {
    margin: 65px 0 42px;
}

.people .mobile {
    display: none;
}

.people .mobile .column {
    margin-bottom: 45px;
}

@media only screen and (max-width: 820px) { 

    .people .mobile {
        display: block;
    }

    .people .desktop {
        display: none;
    }

}


/*MOBILE NAV*/

.mobile-nav {
    display: none;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

.mobile-nav.navbar, .mobile-nav.navbar .navbar-menu {
    background-color: #1D1D1F;
}

.mobile-nav.navbar .navbar-burger {
    color: #fff;
}

.mobile-nav.navbar .navbar-item {
    color: #fff;
}

.mobile-nav.navbar .navbar-item:hover {
    background-color: #1D1D1F;
    color: #fff;
}

.mobile-nav.navbar .button {
    background-color: transparent;
    border: 1px solid white;
    color: #fff;
    font-size: 12px;
}

/*MOBILE FOOTER*/
footer.mobile {
    display: none;
    height: auto;
    font-size: 12px;
    padding: 0.75rem;
}

footer.mobile a {
    color: #fff;
}

footer.mobile .htitle {
    width: 100%;
}


footer.mobile h5 {
    margin-bottom: 10px;
}

footer.mobile ul {
    list-style-type: none;
}

footer.mobile .fbody {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0;
}

footer.mobile > div > div > div:first-child {
    margin-bottom: 20px;
}

footer.mobile .social .fa {
    font-size: 20px;
    margin-right: 10px;
}







@media only screen and (max-width: 820px) {
    .mobile-nav, footer.mobile {
    display: block;}

    header, footer.desktop {
        display: none;
    }
}

hr {
    margin: 0;
    border-top: 1px solid black;
}

/*HOMEPG*/

.covid-banner.desktop {
    position: sticky;
    z-index: 100;
    width: 100%;
    background: black;
    padding: 2px 0;
    display: flex;
    justify-content: center;
}

.covid-banner.desktop > * {
    display: inline;
    color: white;
    font-size: 12px;
}

.covid-banner.desktop > div:nth-child(2) {
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.covid-banner.desktop > div:nth-child(1) a {
    color: #fff;
}

.covid-banner.desktop > div:nth-child(1) a:hover {
    color: #fff;
    text-decoration: underline;
}

.covid-banner.mobile {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.covid-banner.mobile > div {
    background: black;
    margin: 80px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 25px;
}

.covid-banner.mobile > div > div > div, .covid-banner.mobile > div > div > h6 {
    color: white ;
    margin-bottom: 30px;
}

.covid-banner.mobile > div > div > div:nth-child(1) {
    font-family: 'Baskervville';
    font-size: 36px;
    margin-bottom: 10px;
}

.covid-banner.mobile > div > div > div:nth-child(4) {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 36px;
}

@media only screen and (max-width: 820px) {


.covid-banner.mobile {
    display: flex;
}


.covid-banner.desktop {
    display: none;
}

}


.section.video {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.video-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#introVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.section.video .text {
text-align: center;
}

.section.video .title { 
    font-family: Baskervville;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    color: white;
}

.section.video .subtitle {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1ch;
    color: white;
}

@media only screen and (max-width: 820px) { 

    .section.video {
        height: 100vh;
    }

    .section.video .text {
        bottom: 40%;
    }

    #introVideo {
        max-width: none;
        height: 100px;
        width: auto;
    }

}

/*COVID*/

.sg-clean{
margin: 20px auto;
width: 312px;
height: 161px;
background-size: cover !important;
background-position: center !important;
background: url('images/SG-Clean-logo.png');
background-blend-mode: difference;
mix-blend-mode: difference;
}


.covid hr {
    margin: 0 auto;
    width: 70%;
}

.covid img {
    width: 100%;
}

.covid .columns.is-variable .column h6:first-child {
    margin-bottom: 10px;
}

.covid .container:nth-child(2) {
    padding-top: 80px;
    padding-bottom: 50px;
}

@media only screen and (min-width: 821px) {

    .covid .container:nth-child(2) > .columns {
        margin-top: 90px;
    }

}

@media only screen and (max-width: 820px) {

    .sg-clean {

        width: 156px;
        height: 80px;

    }


}

/*charity*/

.charity hr {
    margin: 0 auto;
    width: 20%;
}

.charity .title, .package .title {
    font-family: 'Baskervville';
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
}

.charity img {
    margin-top: 2.5rem;
    width: 100%;
}

.spca-collage{
    display: flex;
    align-items: center;
}

.charity-partner-caption .title {
    text-align: left;
}

.charity-partner-caption .btn {
    text-align: left;
}


.charity-partner-caption button {
    margin-top: 45px;
    background-color: transparent !important;
    text-align: center;
}

.charity .columns:nth-child(2) {
    margin-bottom: 75px;
}

.charity .columns:nth-child(4), .charity .columns:nth-child(5)  {
    margin: 75px 0;
}


@media only screen and (min-width: 821px) {

    .charity .is-variable {
        width: 90%;
        margin: auto;
    }

}

@media only screen and (max-width: 821px) {


.charity .columns:nth-child(2) {
    margin-bottom: 40px;
}

    .charity .columns:nth-child(4), .charity .columns:nth-child(5)  {
        margin: 40px 0;
    }
}

/*CONTACT*/
.contact form {
    width: 90%;
    margin: 90px auto;
}

.contact .header {
    display: flex;
    justify-content: space-between;
}

.contact label {
    font-family: 'Lato';
    font-weight: normal;
    font-size: 14px;
}

.contact .control .select {
    width: 100%;
}

.contact .control select, .contact .control input[type="text"], .contact .control input[type="number"], .contact .control input[type="email"]{
    width: 100%;
    font-family: 'Lato';
}

.contact .btn {
    text-align: right;
}

.contact .select:not(.is-multiple):not(.is-loading)::after {
    border-color: black;
}

.contact a {
    color: #808080;
}

.contact a:hover {
    color: #808080;
}

.contact form a {
    color: black;
    text-decoration: underline;
}


.contact form a:hover {
    color: black;
}

.contact .req {
    font-family: 'Lato';
    font-size: 12px;
    line-height: 2.5;
}

@media only screen and (min-width: 821px) {

    .contact .control .select.ntitle {
        width: 49%;
    }
    
}

@media only screen and (max-width: 821px) {

    .contact .header {
        flex-direction: column;
    }
    
}

/*PACKAGES*/

.package img {
    width: 100%;
    margin-bottom: 20px;
}

.package .container > .columns:nth-child(2){
    margin-bottom: 0px;
}


.package .btn {
    text-align: left;
    position: static;
}

.package button {
    margin-top: 40px;
    background-color: transparent;
    text-align: center;
}

@media only screen and (min-width: 821px) {

    .package .container > .columns:nth-child(3) > .column .column {
        position: relative;
    }
    
    .package .container > .columns:nth-child(3) > .column .column h6 {
        margin-bottom: 120px;
    }

    .package .container > .columns:nth-child(3) > .column .column .btn {
        position: absolute;
        bottom: 0;
    }

    .package .container > .columns {
        margin-bottom: 75px;
    }

    .package button {
        margin-top: 90px;
    }
  
}



.package .title {
    margin: 0 0 75px;
    font-size: 30px;
}



.package .container > .columns:nth-child(4) {
    border-top: 1px solid #B3B3B3;
}

.package .container > .columns:nth-child(4) .title {
    margin: 50px 0 60px;
}

.package .container > .columns:nth-child(4) .services .title {
    margin: 0 0 20px;
    font-size: 24px;
}

.package .services .btn {
    text-align: center;
}

.package .services a {
    margin-top: 20px;
    background-color: transparent;
    text-align: center;
}

.package .services .column {
    text-align: center;
    font-family: 'Lato';
}

.package .services .column > div {
    background: #F0EDE8;
    padding: 30px;
}

.package .price {
font-style: italic;
font-weight: normal;
font-size: 23px;
line-height: 28px;
background: #F7F6F3;
display: inline-block;
padding: 40px 30px;
border-radius: 50%;
margin-bottom: 16px;
}

.package .is-full .price {
    margin: 16px 0;
}

.package .is-full button {
    margin-top: 0;
}

.package .date, .package .details {
font-size: 14px;
line-height: 17px;
}

.package .details {
margin-top: 20px;
}

/*Drop down box for language*/
.select-box {
    position: relative;
    display: block;
    width: 100px;
    color: #fff;
}

.select-box__current {
    position: relative;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
}

.select-box__current:focus + .select-box__list {
    opacity: 1;
    animation-name: none;
}

.select-box__current:focus + .select-box__list .select-box__option {
    cursor: pointer;
}

.select-box__current:focus .select-box__icon {
    transform: translateY(-50%) rotate(180deg);
}

.select-box__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
}

.select-box__value {
    display: flex;
}

.select-box__input {
    display: none;
}

.select-box__input:checked + .select-box__input-text {
    display: block;
}

.select-box__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 5px;
    background-color: transparent;
}

.select-box__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.select-box__option {
    display: block;
    padding: 10px;
    background-color: #FFF;
    color: black;
}

.select-box__option:hover, .select-box__option:focus {
    color: #fff;
    background-color: #7D8184;
}

@keyframes HideList {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0);
    }
}
